.container {
  border: 1px solid transparent;
  margin-left: 250px;
  margin-bottom: 500px;
  height: 70px;
  position: relative;
  bottom: 770px;
}

.h1 {
  position: relative;
  right: 350px;
}

.input {
  color: gray;
  border-radius: 20px;
  text-align: center;
  height: 40px;
  position: relative;
  left: 290px;
  bottom: 60px;
}

.box {
  border: 1px solid transparent;
  width: 55vw;
  height: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon1 {
  border: 1px solid black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: blueviolet;
}

.icon2 {
  border: 1px solid black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: skyblue;
}

.icon3 {
  border: 1px solid black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: orangered;
}

.icon4 {
  border: 1px solid black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: gray;
}

.content {
  position: relative;
  left: 60px;
  bottom: 75px;
}

.invoice_container{
  border: 1px solid transparent;
  border-radius: 20px;
  width: 800px;
  height: 290px;
  margin-left: 100px;
  background-color: whitesmoke;
}

.head_container{
  border: 1px solid transparent;
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  
}
 .invoice{
  margin-right: 600px;
  
} 

.icons{
  margin-top: 25px;
}

.show{
  display: flex;
}

.all{
  margin-left: 550px;
  color: blueviolet;
}